{% extends 'base.html.twig' %}

{% block body %}
    <div class="row col-md-6 mx-auto">
        {{ form_start(form, {'action' : path('task_edit', { 'id' : task.id })}) }}
        <div class="mb-3">
            {{ form_row(form.title) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.content) }}
        </div>
        <button type="submit" class="btn btn-primary mt-3">Modifier</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
